{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary mt-4">
    <li class="breadcrumb-item"><a href="#">Donations</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create</li>
  </ol>
</nav>
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title mt-4">
            <div class="d-flex justify-content-between row">
              <div class="col-md-6">
                <h4>Create Donation</h4>
              </div>
            </div>
          </div>
          <form class="form-sample">
            <div class="row">
              <div class="form-group">
                <label for="idPageTitle">Name</label>
                <input type="text" class="form-control" id="idName" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="idPageTitleMM">Amount</label>
                <textarea rows="10" type="text" class="form-control" id="idAmount" placeholder="Amount"></textarea>
              </div>
              <div class="form-group">
                <label for="idPageTitle">Name</label>
                <input type="text" class="form-control" id="" placeholder="Select Donation Category">
              </div>
              <div class="form-group">
                <label for="idPageTitleMM">Amount</label>
                <textarea rows="10" type="text" class="form-control" id="idPageTitleMM" placeholder="Sub Donation Category (Multi Select)"></textarea>
              </div>
              <div class="form-group">
                <label for="idPageTitle">Remarks</label>
                <input type="text" class="form-control" id="idPageTitle" placeholder="Title">
              </div>
            </div>
            <div class="d-flex justify-content-end gap-3 mt-4">                                
              <a href="{% url 'donation_list' %}" class="btn btn-danger">
                  <i class="fas fa-times"></i> Cancel
              </a>                                                      
              <button type="submit" class="btn btn-success">
                  <i class="fas fa-save"></i> Save
              </button>                                                      
          </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}