<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'includes/css_import.html' %}

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-start py-5 px-4 px-sm-5">
              <div class="brand-logo text-center">
                <img src="{% static 'assets/images/logo.svg' %}" alt="logo">
              </div>
              <h4>Reset Password</h4>
              <h6 class="fw-light"></h6>
              <form class="pt-3">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="idUsername" placeholder="Username">
                </div>
                <div class="mt-3 d-grid gap-2">
                  <a class="btn btn-block btn-primary btn-lg fw-medium auth-form-btn" href="{% url 'd_reset_password' %}">Send Password Reset Link</a>
                </div>

                <div class="text-center mt-4 fw-light">
                  <a href="{% url 'login' %}" class="text-primary">Back to Login </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  {% include 'includes/js_import.html' %}
</body>

</html>