{% extends 'base.html' %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary mt-4">
    <li class="breadcrumb-item"><a href="#">Admin Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
  </ol>
</nav>
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title mt-4">
            <div class="d-flex justify-content-between row">
              <div class="col-md-6">
                <h4>Reset Password</h4>
              </div>
            </div>
          </div>
          <form class="form-sample">
            <div class="row">
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="currentPassword1" placeholder="Current Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="newInputPassword" placeholder="NewPassword">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="confirmInputPassword" placeholder="Confirm Password">
              </div>
            </div>
            <button type="submit" class="btn btn-danger me-2"><i class="fa fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-primary me-2"><i class="fa fa-save"></i> Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}