{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-sm-6 col-12">
          <h2>Home Setting</h2>
        </div>
        <div class="col-sm-6 col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href=""><i class="iconly-Home icli svg-color"></i></a></li>
            <li class="breadcrumb-item">Home Setting</li>
            <li class="breadcrumb-item active">Index</li>
          </ol>
        </div>
      </div>
    </div>
</div>

<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title mt-4">
            <div class="d-flex justify-content-between row">
              <div class="col-md-6">
                <h4>Home Setting Video Listing</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="table-sorter-wrapper col-lg-12 table-responsive">
              <table id="sortable-table-1" class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th class="sortStyle">Title<i class="ti-angle-down"></i></th>
                    <th class="sortStyle">File Type<i class="ti-angle-down"></i></th>
                    <th class="sortStyle">Embed Code<i class="ti-angle-down"></i></th>
                    <th class="sortStyle">Edit<i class="ti-angle-down"></i></th>
                  </tr>
                </thead>
                <tbody>
                  {% if data_results %}
                    {% for i in data_results %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.title }}</td>
                        <td>{{ i.file_type }}</td>
                        <td>{{ i.embedcode }}</td>
                        <td class="text-end">
                          <div class="product-action justify-content-center">
                            <a href="{% url 'notice_edit' i.uuid %}" title="Edit">
                              <i class="iconly-Edit-Square icli"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% empty %}
                      <tr>
                        <td colspan="6" class="text-center">No Settings found.</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
              {% include 'includes/pagination.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}