{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-sm-6 col-12">
          <h2>Announcement Create</h2>
        </div>
        <div class="col-sm-6 col-12">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'notice_list' %}"><i class="iconly-Home icli svg-color"></i></a></li>
            <li class="breadcrumb-item">Announcement</li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

          <form method="post" action="{% url 'notice_create' %}">
            {% csrf_token %}
            {% include 'includes/custom_alert.html' %}
            <div class="card">
              <div class="card-body">
                <div class="form theme-form basic-form">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <h5 class="f-w-600 mb-2">Title</h5>
                        <input  class="form-control"  type="text" id="idTitle" name="title" placeholder="Title">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="mb-3">
                        <h5 class="f-w-600 mb-2">Date Range</h5>
                        <div class="input-group flatpicker-calender">
                          <input class="form-control" id="range-date" name="date_range" type="text" placeholder="Select date range">
                        </div>
                      </div>
                    </div>
                  </div>

                  <textarea name="description" id="descriptionInput" style="display: none;"></textarea>
                  {% include 'includes/quill_editor.html' %}

                  <div class="row">
                    <div class="col">
                      <div class="text-end">
                          <a class="btn btn-danger btn-lg" href="{% url 'notice_list' %}">Cancel </a>
                          <button type="submit" class="btn btn-primary btn-lg">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
</div>
<script>
    flatpickr("#range-date", {
        mode: "range",
        dateFormat: "Y-m-d", // Match Django's default date format
        altInput: true,
        altFormat: "F j, Y",
      });
</script>

{% endblock %}