{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-primary mt-4">
    <li class="breadcrumb-item"><a href="#">Contact Us</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
  </ol>
</nav>
<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title mt-4">
            <div class="d-flex justify-content-between row">
              <div class="col-md-6">
                <h4>Reply to User</h4>
              </div>
            </div>
          </div>
          <form class="form-sample">
            <div class="row">
              <div class="form-group">
                <label for="idPageTitle">Text Message</label>
                <input type="text" class="form-control" id="idPageTitle" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="idPageTitleMM">Reply Message</label>
                <textarea rows="10" type="text" class="form-control" id="idPageTitleMM" placeholder="Title in MM"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-danger me-2"><i class="fa fa-times"></i> Reply</button>
            <button type="submit" class="btn btn-primary me-2"><i class="fa fa-save"></i> Cancel</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}