{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static '/assets/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs5/dataTables.bootstrap5.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- Plugin css for editors -->
  <link rel="stylesheet" href="{% static 'assets/vendors/quill/quill.snow.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/simplemde/simplemde.min.css' %}">
  <!-- End plugin css for this page -->
   <!-- Plugin css for dragula -->
  <link rel="stylesheet" href="{% static 'assets/vendors/dragula/dragula.min.css' %}">
  <!-- End plugin css for dragula -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'assets/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
</head>