{% load static %}
<script src="{% static 'assets/js/vendors/jquery/jquery.min.js' %}"></script>
<!-- bootstrap js-->
<script src="{% static 'assets/js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js' %}" defer=""></script>
<script src="{% static 'assets/js/vendors/bootstrap/dist/js/popper.min.js' %}" defer=""></script>
<!--fontawesome-->
<script src="{% static 'assets/js/vendors/font-awesome/fontawesome-min.js' %}"></script>
<!-- feather-->
<script src="{% static 'assets/js/vendors/feather-icon/feather.min.js' %}"></script>
<script src="{% static 'assets/js/vendors/feather-icon/custom-script.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'assets/js/sidebar.js' %}"></script>
<!-- height_equal-->
<script src="{% static 'assets/js/height-equal.js' %}"></script>
<!-- config-->
<script src="{% static 'assets/js/config.js' %}"></script>
<!-- scrollbar-->
<script src="{% static 'assets/js/scrollbar/simplebar.js' %}"></script>
<script src="{% static 'assets/js/scrollbar/custom.js' %}"></script>
<!-- slick-->
<script src="{% static 'assets/js/slick/slick.min.js' %}"></script>
<script src="{% static 'assets/js/slick/slick.js' %}"></script>
<!-- datatables-->
<script src="{% static 'assets/js/js-datatables/simple-datatables@latest.js' %}"></script>
<!-- data_table-->
<script src="{% static 'assets/js/js-datatables/datatables/jquery.dataTables.min.js' %}"></script>
<!-- page_datatable-->
<script src="{% static 'assets/js/js-datatables/datatables/datatable.custom.js' %}"></script>
<!-- page_datatable1-->
<script src="{% static 'assets/js/js-datatables/datatables/datatable.custom1.js' %}"></script>
<!-- page_datatable-->
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<!-- theme_customizer-->
<script src="{% static 'assets/js/theme-customizer/customizer.js' %}"></script>
<!-- tilt-->
<script src="{% static 'assets/js/animation/tilt/tilt.jquery.js' %}"></script>
<!-- page_tilt-->
<script src="{% static 'assets/js/animation/tilt/tilt-custom.js' %}"></script>
<!-- Sweetalert js-->
<script src="{% static 'assets/js/sweetalert/sweetalert2.min.js' %}"></script>
<script src="{% static 'assets/js/sweetalert/sweetalert-custom.js' %}"></script>
<!-- custom script -->
<script src="{% static 'assets/js/script.js' %}"></script>
<!-- flatpicker-->
<script src="{% static 'assets/js/flat-pickr/flatpickr.js' %}"></script>
<script src="{% static 'assets/js/flat-pickr/custom-flatpickr.js' %}"></script>
<!--Editor-->
<script src="{% static 'assets/js/editors/custom-quill.js' %}"></script>
<script src="{% static 'assets/js/editors/quill.js' %}"></script>
<script src="{% static 'assets/js/custom-add-product3.js' %}"></script>
<!-- Summernote JS -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.20/dist/summernote-bs5.min.js"></script>
<script>
$(document).ready(function() {
  $('#summernote').summernote({
    height: 200,   // set editor height
    placeholder: 'Write something awesome...'
  });
});
</script>