<div class="row mt-3">
  <div class="hint-text col-md-6 mt-2">
      Showing <b>{{ page_objs.start_index }}-{{ page_objs.end_index }}</b> out of <b>{{page_objs.paginator.count }}</b> entries
  </div>
  <nav class="col-md-6">
    <ul class="pagination flex-wrap pagination-rounded float-end">
      <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-left"></i></a></li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
    </ul>
  </nav>
</div>
