<!DOCTYPE html>
<html lang="en">
{% load static %}

{% include 'includes/css_import.html' %}
<body>
  <div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    {% include 'includes/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      {% include 'includes/settings.html' %}

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'includes/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        {% block content %}
        {% endblock %}
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'includes/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  {% include 'includes/js_import.html' %}
  <!-- End custom js for this page-->
</body>

</html>